<svg
  width="22mm"
  height="22mm"
  viewBox="0 0 22 22"
  version="1.1"
  id="svg1783">
  <defs
    id="defs1777" />
  <g
    id="layer1"
    transform="translate(-44.728902,-119.54512)">
    <g
      id="g1215"
      transform="translate(10.809028,55.303548)">
      <rect
        style="fill:rgba(255,0,242,0.04);fill-opacity:1;stroke:#707070;stroke-width:0.325123;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        id="rect1061"
        width="21.674877"
        height="21.674877"
        x="34.082436"
        y="64.404137" />
      <text
        xml:space="preserve"
        style="font-style:normal;font-weight:normal;font-size:7.05556px;line-height:1.25;font-family:sans-serif;fill:#0000ff;fill-opacity:1;stroke:none;stroke-width:0.264583"
        x="42.050163"
        y="78.252335"
        id="text1065"><tspan
           id="tspan1063"
           x="42.050163"
           y="78.252335"
           style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:7.05556px;font-family:sans-serif Bold;-inkscape-font-specification:sans-serif;fill:#ff00f2;fill-opacity:1;stroke-width:0.264583">{{outcome}}</tspan></text>
    </g>
  </g>
</svg>
