<svg
  width="22mm"
  height="22mm"
  viewBox="0 0 22 22"
  version="1.1"
  id="svg1088">
  <defs
    id="defs1082" />
  <g
    id="layer1"
    transform="translate(-36.029295,-56.675985)">
    <g
      id="g1206"
      transform="translate(1.9781802,19.106724)">
      <rect
        style="fill:#ffffff;fill-opacity:1;stroke:#707070;stroke-width:0.325123;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        id="rect981"
        width="21.674877"
        height="21.674877"
        x="34.213676"
        y="37.731823" />
      <text
        xml:space="preserve"
        style="font-style:normal;font-weight:normal;font-size:10.5833px;line-height:1.25;font-family:sans-serif;fill:#0000ff;fill-opacity:1;stroke:none;stroke-width:0.264583"
        x="41.163338"
        y="52.519459"
        id="text985"><tspan
           id="tspan983"
           x="41.163338"
           y="52.519459"
           style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';fill:#0000ff;fill-opacity:1;stroke-width:0.264583">3</tspan></text>
      <text
        xml:space="preserve"
        style="font-style:normal;font-weight:normal;font-size:7.05556px;line-height:1.25;font-family:sans-serif;fill:#0000ff;fill-opacity:1;stroke:none;stroke-width:0.264583"
        x="35.869961"
        y="51.596283"
        id="text989"><tspan
           id="tspan987"
           x="35.869961"
           y="51.596283"
           style="font-size:7.05556px;fill:#ff0000;fill-opacity:1;stroke-width:0.264583">2</tspan></text>
      <text
        xml:space="preserve"
        style="font-style:normal;font-weight:normal;font-size:7.05556px;line-height:1.25;font-family:sans-serif;fill:#00af00;fill-opacity:1;stroke:none;stroke-width:0.264583"
        x="49.632648"
        y="51.558517"
        id="text993"><tspan
           id="tspan991"
           x="49.632648"
           y="51.558517"
           style="font-size:7.05556px;fill:#00af00;fill-opacity:1;stroke-width:0.264583">{{outcome.red}}</tspan></text>
      <rect
        style="fill:#ffffff;fill-opacity:1;stroke:#707070;stroke-width:0.325123;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        id="rect853"
        width="21.674877"
        height="21.674877"
        x="34.213676"
        y="37.731823" />
      <text
        xml:space="preserve"
        style="font-style:normal;font-weight:normal;font-size:10.5833px;line-height:1.25;font-family:sans-serif;fill:#0000ff;fill-opacity:1;stroke:none;stroke-width:0.264583"
        x="41.163338"
        y="52.519459"
        id="text857"><tspan
           id="tspan855"
           x="41.163338"
           y="52.519459"
           style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';fill:#0000ff;fill-opacity:1;stroke-width:0.264583">{{outcome.blue}}</tspan></text>
      <text
        xml:space="preserve"
        style="font-style:normal;font-weight:normal;font-size:7.05556px;line-height:1.25;font-family:sans-serif;fill:#0000ff;fill-opacity:1;stroke:none;stroke-width:0.264583"
        x="35.869961"
        y="51.596283"
        id="text861"><tspan
           id="tspan859"
           x="35.869961"
           y="51.596283"
           style="font-size:7.05556px;fill:#ff0000;fill-opacity:1;stroke-width:0.264583">2</tspan></text>
      <text
        xml:space="preserve"
        style="font-style:normal;font-weight:normal;font-size:7.05556px;line-height:1.25;font-family:sans-serif;fill:#00af00;fill-opacity:1;stroke:none;stroke-width:0.264583"
        x="49.632648"
        y="51.558517"
        id="text865"><tspan
           id="tspan863"
           x="49.632648"
           y="51.558517"
           style="font-size:7.05556px;fill:#00af00;fill-opacity:1;stroke-width:0.264583">{{outcome.green}}</tspan></text>
    </g>
  </g>
</svg>
