<svg
  width="22mm"
  height="22mm"
  viewBox="0 0 22 22"
  version="1.1"
  id="svg8">
  <g
    id="layer1"
    transform="translate(-34.011003,-12.088217)">
    <g
      id="g1065">
      <rect
        style="fill:#ffffff;fill-opacity:1;stroke:#707070;stroke-width:0.325123;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        id="rect833"
        width="21.674877"
        height="21.674877"
        x="34.173565"
        y="12.250778"/>
      <text
        xml:space="preserve"
        style="font-style:normal;font-weight:normal;font-size:10.5833px;line-height:1.25;font-family:sans-serif;fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:0.264583"
        x="35.831554"
        y="27.038414"
        id="text837"><tspan
           role="line"
           id="tspan835"
           x="35.831554"
           y="27.038414"
           style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';fill:#ff0000;fill-opacity:1;stroke-width:0.264583">{{outcome.red}}</tspan></text>
      <text
        xml:space="preserve"
        style="font-style:normal;font-weight:normal;font-size:7.05556px;line-height:1.25;font-family:sans-serif;fill:#0000ff;fill-opacity:1;stroke:none;stroke-width:0.264583"
        x="43.767357"
        y="26.115238"
        id="text841"><tspan
           role="line"
           id="tspan839"
           x="43.767357"
           y="26.115238"
           style="font-size:7.05556px;fill:#0000ff;fill-opacity:1;stroke-width:0.264583">{{outcome.blue}}</tspan></text>
      <text
        xml:space="preserve"
        style="font-style:normal;font-weight:normal;font-size:7.05556px;line-height:1.25;font-family:sans-serif;fill:#00af00;fill-opacity:1;stroke:none;stroke-width:0.264583"
        x="49.592537"
        y="26.077475"
        id="text845"><tspan
           role="line"
           id="tspan843"
           x="49.592537"
           y="26.077475"
           style="font-size:7.05556px;fill:#00af00;fill-opacity:1;stroke-width:0.264583">{{outcome.green}}</tspan></text>
    </g>
  </g>
</svg>
